#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
export DH_OPTIONS
export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr

override_dh_install:
	install -d debian/acme-client/etc/acme/
	install -d debian/acme-client/etc/apache2/conf-available/
	install -d debian/acme-client/var/www/acme/
	install -m 644 "acme-client.conf" "debian/acme-client/etc/acme-client.conf"
	install -m 644 "acme.conf" "debian/acme-client/etc/apache2/conf-available/acme.conf"
	dh_install

